<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
	<h1>Welcome page!</h1>

	<p>

	<%= @greeting %>

	</p>
	<br>
	<img src="/cool_image2.png"
		 alt = "A very cool image">
</body>