<h1> This should display somewhere </h1>

<p>
	<b> Embedded ruby file</b>
	Author: Sahil Bahl 
</p>

<!-- 
<% if Date.today.tuesday? %>
	<p>
		Tuesday is <strong>veg</strong> day 
	</p>
<% end %>
 -->