<html>

<head>
	<title> Online Caclulator</title>
	<link rel="stylesheet" type="text/css" href=".public/styles.css">
</head>

<body>
	<h3> <%= @title %> </h3>
	<p>
		How can I help your sorry ass today? <br>

		<ul>
			<li> <a href="/add"> Help me add!</a></li>
			<li> <a href="/subtract"> Help me subtract!</a></li>
			<li> <a href="/divide"> Help me divide!</a></li>
			<li> <a href="/multiply"> Help me multiply!</a></li>
		</ul>
	</p>
</body>
</html>