
<form action="/check_password" method="post">
	<label>Username:</label>
	<input type="text" name="user_name" placeholder = "enter username"> <br>
	<br>

	<label>Password:</label>
	<input type="text" name="password"  placeholder = "enter password"> <br><br>
	<button type="submit">Submit</button>
</form>