<h1> <%= @title %> </h1>

<form action = "/create_task" method="post">
	Add your task here: <br>
	<input type="text" name="content">
	<br>
	Thanks buddy, click on the button <br>
	<input type="submit" value="Submit">
	<br>
</form>