<form action="/form" method="POST">
	<label> Email: </label>
	<input type="text" name="email" placeholder = "user@ironhack.com"> <br>
	<br>

	<label> Password </label>
	<input type="password" name="password" placeholder = "your password"> <br>
	<br>

	<button type="submit"> Submit</button>

</form>


<%= @output %> 